table of contents

# Import

## Packages

In [1]:
#import basic packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import for time 
import dask.dataframe as dd
import os
from tqdm import tqdm
import time

#import pyarrow -> needed for feather
import pyarrow

## Straight importing files (but see below for dealing with huge CSV file

In [2]:
# %%time

# #import dataset - but it is a big file. see below for this case. 
# train_df = pd.read_csv("train.csv")
# test_df = pd.read_csv("test.csv")

# Case of Huge CSV File

## Readlines

In [3]:
%%time

# %%time will print out the CPU time and wall time 
print('hello')

hello
CPU times: user 242 µs, sys: 100 µs, total: 342 µs
Wall time: 499 µs

In [4]:
#path for train dataset
train_path = '../NYCTaxi/train.csv'

In [5]:
%%time 

#want to know the exact number of rows from the large file -> this way is a lot shorter to find how big the data is. 

#method 1 : use file.readlines 
with open(train_path) as file:
    n_rows = len(file.readlines())

print(f'Exact number of rows: {n_rows}')

Exact number of rows: 55423857
CPU times: user 19.2 s, sys: 31.6 s, total: 50.9 s
Wall time: 1min 12s

In [6]:
%%time 

#take a look at the train dataset
test_temp = pd.read_csv(train_path, nrows= 10)
test_temp.head()

CPU times: user 9.55 ms, sys: 23.5 ms, total: 33.1 ms
Wall time: 62.5 ms

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [7]:
#info on temp table -> to see column datatype
test_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                10 non-null     object
 1   fare_amount        10 non-null     float64
 2   pickup_datetime    10 non-null     object
 3   pickup_longitude   10 non-null     float64
 4   pickup_latitude    10 non-null     float64
 5   dropoff_longitude  10 non-null     float64
 6   dropoff_latitude   10 non-null     float64
 7   passenger_count    10 non-null     int64
dtypes: float64(5), int64(1), object(2)
memory usage: 768.0+ bytes

## Using Chunksize and load chunks to list

In [8]:
#change the column type to optimize for memory usage
traintypes = {
                    'fare_amount': 'float32',
                    'pickup_datetime': 'str',
                    'pickup_longitude': 'float32',
                    'pickup_latitude': 'float32',
                    'dropoff_longitude': 'float32',
                    'dropoff_latitude': 'float32',
                    'passenger_count': 'uint8'
}

#to get the column names, we can use .keys() and save it as cols. 
cols = list(traintypes.keys())

In [9]:
#make a chunk size to run 5mil rows at each chunk
chunksize = 5_000_000 
#here, _ is used as a visual separator.

In [10]:
%%time
#make an empty list to start with
df_list = []

#for loop using chunksize above. 
for df_chunk in tqdm(pd.read_csv(train_path, usecols = cols, dtype=traintypes, chunksize = chunksize)):
    df_chunk['pickup_datetime'] = df_chunk['pickup_datetime'].str.slice(0,16)
    df_chunk['pickup_datetime'] = pd.to_datetime(df_chunk['pickup_datetime'], utc = True, format = '%Y-%m-%d %H:%M')
    
    #append the chunk to list and merge all
    df_list.append(df_chunk)
    
#12 iterations.

12it [01:54,  9.54s/it]

CPU times: user 1min 34s, sys: 12.5 s, total: 1min 47s
Wall time: 1min 54s

In [11]:
#end result of df_list. -> each iteration results 5M chunk. 
df_list

[         fare_amount           pickup_datetime  pickup_longitude  \
 0                4.5 2009-06-15 17:26:00+00:00        -73.844315
 1               16.9 2010-01-05 16:52:00+00:00        -74.016045
 2                5.7 2011-08-18 00:35:00+00:00        -73.982735
 3                7.7 2012-04-21 04:30:00+00:00        -73.987129
 4                5.3 2010-03-09 07:51:00+00:00        -73.968094
 ...              ...                       ...               ...
 4999995         16.5 2011-01-24 21:33:00+00:00        -74.003883
 4999996          9.0 2013-10-11 12:12:00+00:00        -73.995102
 4999997         10.5 2014-12-06 23:04:00+00:00        -73.981064
 4999998         10.0 2015-05-30 19:01:00+00:00        -73.965401
 4999999          4.9 2012-07-11 08:12:00+00:00        -73.972595

          pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
 0              40.721317         -73.841614         40.712276                1
 1              40.711304         -73.979271         40.782005                1
 2              40.761269         -73.991241         40.750561                2
 3              40.733143         -73.991570         40.758091                1
 4              40.768009         -73.956657         40.783764                1
 ...                  ...                ...               ...              ...
 4999995        40.725773         -73.969391         40.800831                1
 4999996        40.739899         -73.985214         40.731949                2
 4999997        40.764126         -73.979256         40.781857                2
 4999998        40.759140         -73.971886         40.750870                1
 4999999        40.743176         -73.965820         40.754414                6

 [5000000 rows x 7 columns],
          fare_amount           pickup_datetime  pickup_longitude  \
 5000000         8.10 2010-10-05 21:38:00+00:00        -73.989189
 5000001         6.10 2012-07-08 01:37:00+00:00        -73.986931
 5000002        98.75 2012-12-09 18:03:00+00:00          0.000000
 5000003         7.00 2013-09-27 08:39:00+00:00        -73.982048
 5000004         6.50 2010-12-25 00:45:00+00:00        -73.921860
 ...              ...                       ...               ...
 9999995         5.70 2012-08-12 01:18:00+00:00        -73.999466
 9999996         5.50 2013-08-07 10:28:00+00:00        -73.968468
 9999997        14.00 2013-10-29 08:29:00+00:00        -73.997955
 9999998        10.50 2012-04-07 16:41:00+00:00        -73.992699
 9999999         8.50 2010-03-30 19:27:00+00:00        -73.965393

          pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
 5000000        40.756859         -74.010300         40.734489                1
 5000001        40.729698         -73.980270         40.744411                2
 5000002         0.000000           0.000000          0.000000                5
 5000003        40.774399         -73.970413         40.783875                1
 5000004        40.743343         -73.898193         40.743279                1
 ...                  ...                ...               ...              ...
 9999995        40.728451         -73.993301         40.742100                2
 9999996        40.759369         -73.964966         40.769028                1
 9999997        40.733719         -73.973450         40.759121                5
 9999998        40.752022         -73.964706         40.772850                1
 9999999        40.768574         -73.998184         40.761074                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 10000000    35.470001 2010-08-10 20:02:00+00:00        -73.967354
 10000001     6.100000 2011-03-13 13:24:00+00:00        -73.968842
 10000002     9.700000 2011-06-11 19:45:00+00:00        -73.982178
 10000003     7.700000 2011-12-03 13:16:00+00:00        -73.977798
 10000004    57.330002 2013-03-29 14:35:00+00:00        -74.003029
 ...               ...                       ...               ...
 14999995    14.500000 2013-09-20 11:33:00+00:00        -73.992599
 14999996     5.300000 2009-01-31 19:58:00+00:00        -73.984558
 14999997     5.700000 2011-10-19 22:15:00+00:00        -73.970749
 14999998     6.100000 2012-03-03 23:27:00+00:00        -73.989136
 14999999     5.300000 2012-05-10 20:24:00+00:00        -73.979523

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 10000000        40.769295         -73.967285         40.802975
 10000001        40.758278         -73.961395         40.768566
 10000002        40.774796         -73.954308         40.783150
 10000003        40.742279         -73.998634         40.734917
 10000004        40.747368         -73.789368         40.654743
 ...                   ...                ...               ...
 14999995        40.665775         -74.019928         40.617622
 14999996        40.769924         -73.989555         40.757359
 14999997        40.765820         -73.967064         40.757034
 14999998        40.726936         -73.987465         40.720299
 14999999        40.757465         -73.990005         40.750797

           passenger_count
 10000000                1
 10000001                1
 10000002                1
 10000003                1
 10000004                2
 ...                   ...
 14999995                1
 14999996                5
 14999997                1
 14999998                0
 14999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 15000000         12.9 2011-05-20 08:10:00+00:00        -73.953865
 15000001          4.5 2014-03-29 19:38:00+00:00        -73.988632
 15000002         25.0 2014-10-14 08:32:00+00:00        -73.954475
 15000003         65.0 2009-06-01 11:56:00+00:00        -74.181618
 15000004          5.7 2011-03-01 15:41:00+00:00        -73.984184
 ...               ...                       ...               ...
 19999995          9.5 2013-10-16 17:49:00+00:00        -73.977707
 19999996          3.5 2014-08-08 00:16:00+00:00        -73.963242
 19999997          4.9 2009-10-10 22:14:00+00:00        -73.970947
 19999998          5.5 2014-12-10 12:26:00+00:00        -73.968079
 19999999         10.9 2010-08-13 14:15:00+00:00        -74.001991

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 15000000        40.787933         -73.987167         40.754520
 15000001        40.725761         -73.978355         40.721458
 15000002        40.764206         -73.990395         40.751320
 15000003        40.687675         -74.181618         40.687675
 15000004        40.755116         -73.971184         40.764153
 ...                   ...                ...               ...
 19999995        40.776920         -73.966866         40.772446
 19999996        40.766754         -73.965500         40.763580
 19999997        40.794277         -73.961380         40.801376
 19999998        40.799801         -73.961060         40.811672
 19999999        40.734951         -74.003754         40.722210

           passenger_count
 15000000                2
 15000001                1
 15000002                1
 15000003                1
 15000004                3
 ...                   ...
 19999995                5
 19999996                1
 19999997                1
 19999998                6
 19999999                5

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 20000000     3.700000 2011-01-18 06:58:00+00:00          0.000000
 20000001     4.100000 2012-06-25 04:11:00+00:00        -73.994217
 20000002     7.500000 2013-01-02 16:12:00+00:00        -73.991280
 20000003    12.000000 2013-08-06 05:30:00+00:00        -73.924355
 20000004    43.330002 2014-06-15 15:54:00+00:00        -73.982285
 ...               ...                       ...               ...
 24999995    12.000000 2013-01-21 12:24:00+00:00        -73.992508
 24999996     6.500000 2013-07-09 08:07:00+00:00        -73.977242
 24999997     5.000000 2014-08-14 17:04:00+00:00        -73.969261
 24999998     5.000000 2015-06-08 19:09:00+00:00        -73.984901
 24999999     6.100000 2011-11-14 18:36:00+00:00        -73.984917

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 20000000         0.000000           0.000000          0.000000
 20000001        40.740971         -73.999069         40.738316
 20000002        40.749786         -73.979362         40.758488
 20000003        40.769657         -73.870979         40.774082
 20000004        40.762653         -73.861870         40.768368
 ...                   ...                ...               ...
 24999995        40.758549         -73.960915         40.774776
 24999996        40.753796         -73.983261         40.761284
 24999997        40.761765         -73.974182         40.753822
 24999998        40.768459         -73.984756         40.759480
 24999999        40.758919         -73.994621         40.752071

           passenger_count
 20000000                1
 20000001                1
 20000002                2
 20000003                5
 20000004                1
 ...                   ...
 24999995                1
 24999996                2
 24999997                2
 24999998                6
 24999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 25000000    10.500000 2012-09-06 08:06:00+00:00        -73.960770
 25000001     8.000000 2012-10-12 03:17:00+00:00        -73.955582
 25000002     7.900000 2009-03-30 19:59:00+00:00        -73.985329
 25000003    29.700001 2009-04-13 16:40:00+00:00        -73.863045
 25000004     8.500000 2012-03-27 08:54:00+00:00        -73.977509
 ...               ...                       ...               ...
 29999995     8.500000 2010-12-31 16:08:00+00:00        -74.004951
 29999996    10.100000 2011-02-15 15:53:00+00:00        -73.970924
 29999997    12.900000 2011-12-17 20:28:00+00:00        -73.956802
 29999998     7.500000 2013-03-26 09:07:00+00:00        -74.006615
 29999999    12.900000 2011-11-22 18:10:00+00:00        -73.981949

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 25000000        40.757313         -73.978600         40.756954
 25000001        40.714153         -73.959358         40.691071
 25000002        40.747223         -74.003685         40.731991
 25000003        40.767700         -73.975006         40.758076
 25000004        40.762772         -73.952423         40.789719
 ...                   ...                ...               ...
 29999995        40.721478         -73.989944         40.737083
 29999996        40.755653         -73.969017         40.785786
 29999997        40.766846         -73.983421         40.721466
 29999998        40.705307         -74.009125         40.713299
 29999999        40.737347         -73.990448         40.748680

           passenger_count
 25000000                1
 25000001                1
 25000002                1
 25000003                1
 25000004                2
 ...                   ...
 29999995                3
 29999996                1
 29999997                2
 29999998                1
 29999999                2

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 30000000          4.9 2011-12-02 11:37:00+00:00        -73.977356
 30000001          8.9 2012-02-02 22:30:00+00:00        -73.988701
 30000002          4.0 2014-09-20 07:19:00+00:00        -73.990211
 30000003          5.5 2013-02-23 07:18:00+00:00        -74.016754
 30000004         13.5 2015-04-18 23:49:00+00:00        -74.002708
 ...               ...                       ...               ...
 34999995          8.9 2010-06-12 12:07:00+00:00        -73.969261
 34999996          6.9 2011-02-24 16:06:00+00:00        -73.966545
 34999997          9.7 2009-09-22 19:20:00+00:00        -73.980057
 34999998         14.1 2012-04-19 02:17:00+00:00        -73.998505
 34999999          3.3 2012-06-08 11:09:00+00:00        -73.953629

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 30000000        40.766270         -73.982994         40.759323
 30000001        40.758804         -73.986519         40.737206
 30000002        40.746704         -73.994728         40.750511
 30000003        40.709438         -74.009003         40.719498
 30000004        40.733730         -73.986099         40.734776
 ...                   ...                ...               ...
 34999995        40.757771         -73.988998         40.741447
 34999996        40.804974         -73.949043         40.804226
 34999997        40.752537         -74.006439         40.739613
 34999998        40.745304         -73.953186         40.799362
 34999999        40.778797         -73.946068         40.775551

           passenger_count
 30000000                5
 30000001                1
 30000002                1
 30000003                3
 30000004                1
 ...                   ...
 34999995                2
 34999996                2
 34999997                1
 34999998                2
 34999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 35000000          6.5 2009-06-21 11:07:00+00:00        -73.981575
 35000001          8.9 2011-04-04 20:34:00+00:00        -73.984138
 35000002         17.0 2013-09-10 20:31:00+00:00        -73.964355
 35000003          3.3 2009-11-22 20:25:00+00:00        -73.994156
 35000004          4.1 2009-12-04 21:50:00+00:00        -73.997826
 ...               ...                       ...               ...
 39999995         14.1 2011-04-06 11:57:00+00:00        -73.958206
 39999996         45.0 2009-06-02 11:52:00+00:00        -73.988739
 39999997          7.3 2011-03-11 17:37:00+00:00        -73.972519
 39999998         10.5 2012-06-05 11:35:00+00:00        -73.976143
 39999999          7.5 2013-08-29 08:41:00+00:00        -73.965523

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 35000000        40.772575         -73.963333         40.762131
 35000001        40.756718         -73.987007         40.731457
 35000002        40.756443         -73.915298         40.759506
 35000003        40.726803         -73.990692         40.733891
 35000004        40.753189         -73.994682         40.760765
 ...                   ...                ...               ...
 39999995        40.760338         -73.992722         40.744537
 39999996        40.758823         -73.794464         40.644505
 39999997        40.758801         -73.986641         40.739693
 39999998        40.788303         -73.956673         40.764999
 39999999        40.790512         -73.983086         40.776867

           passenger_count
 35000000                1
 35000001                1
 35000002                1
 35000003                1
 35000004                1
 ...                   ...
 39999995                1
 39999996                4
 39999997                1
 39999998                1
 39999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 40000000          8.9 2011-05-25 14:04:00+00:00        -73.976700
 40000001          4.5 2009-07-03 00:41:00+00:00        -73.920723
 40000002          5.0 2013-01-24 22:43:00+00:00        -73.976250
 40000003          9.5 2013-11-05 17:08:00+00:00        -73.970154
 40000004          7.0 2014-10-15 12:57:00+00:00        -73.985001
 ...               ...                       ...               ...
 44999995          3.3 2011-03-23 10:15:00+00:00        -73.981888
 44999996         10.5 2013-10-26 10:54:00+00:00        -73.992630
 44999997         16.5 2010-05-05 21:15:00+00:00        -74.000465
 44999998         14.5 2012-08-30 09:26:00+00:00        -73.946915
 44999999          5.0 2013-09-09 16:46:00+00:00        -73.982239

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 40000000        40.751331         -73.991577         40.750008
 40000001        40.756809         -73.911499         40.766827
 40000002        40.751820         -73.984665         40.738583
 40000003        40.764931         -73.967758         40.787544
 40000004        40.742069         -73.997467         40.733620
 ...                   ...                ...               ...
 44999995        40.743355         -73.985596         40.741268
 44999996        40.743160         -73.982147         40.768726
 44999997        40.677616         -73.936234         40.710739
 44999998        40.776505         -73.984268         40.754929
 44999999        40.751629         -73.987488         40.739819

           passenger_count
 40000000                1
 40000001                5
 40000002                1
 40000003                1
 40000004                1
 ...                   ...
 44999995                1
 44999996                4
 44999997                1
 44999998                1
 44999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 45000000     4.900000 2010-04-19 07:48:00+00:00          0.000000
 45000001    18.900000 2010-11-01 03:02:00+00:00        -73.971657
 45000002    49.799999 2012-03-21 06:37:00+00:00        -73.952255
 45000003     3.700000 2009-12-05 17:04:00+00:00        -73.961113
 45000004     5.700000 2011-07-26 16:40:00+00:00        -73.976921
 ...               ...                       ...               ...
 49999995    12.500000 2014-09-21 17:08:00+00:00        -74.004776
 49999996    13.300000 2012-01-06 17:27:00+00:00        -73.976501
 49999997     5.500000 2012-09-09 00:09:00+00:00        -74.003204
 49999998     6.100000 2012-05-12 05:09:00+00:00        -73.989098
 49999999     6.500000 2011-03-02 08:19:00+00:00        -73.963600

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 45000000         0.000000           0.000000          0.000000
 45000001        40.751118         -73.979408         40.678314
 45000002        40.741432         -73.992516         40.713898
 45000003        40.760563         -73.955139         40.768936
 45000004        40.750008         -73.989594         40.741459
 ...                   ...                ...               ...
 49999995        40.747017         -74.002922         40.760445
 49999996        40.780571         -74.000816         40.734608
 49999997        40.749134         -73.990128         40.746651
 49999998        40.769360         -73.991821         40.751507
 49999999        40.771267         -73.954071         40.766380

           passenger_count
 45000000                1
 45000001                1
 45000002                1
 45000003                1
 45000004                1
 ...                   ...
 49999995                1
 49999996                2
 49999997                2
 49999998                1
 49999999                2

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 50000000          9.0 2013-06-08 00:36:00+00:00        -73.971130
 50000001         14.6 2009-04-12 03:26:00+00:00        -74.005165
 50000002         16.9 2010-01-28 16:54:00+00:00        -74.006767
 50000003          5.7 2010-08-15 20:52:00+00:00        -73.987213
 50000004          4.9 2010-02-06 10:58:00+00:00        -73.981644
 ...               ...                       ...               ...
 54999995         11.7 2012-05-31 00:58:00+00:00        -73.992348
 54999996         12.5 2013-08-25 03:23:00+00:00        -73.991943
 54999997          6.5 2013-12-03 20:31:00+00:00        -73.961143
 54999998          7.5 2015-02-14 15:11:00+00:00        -73.996964
 54999999          6.5 2015-04-16 18:42:00+00:00        -74.001862

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 50000000        40.758652         -73.991982         40.743263

In [12]:
#merge all dataframe lists into one dataframe
trainm_df = pd.concat(df_list)

#delete the dataframe list to release memory
del df_list

#check trainm_df
trainm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   fare_amount        float32
 1   pickup_datetime    datetime64[ns, UTC]
 2   pickup_longitude   float32
 3   pickup_latitude    float32
 4   dropoff_longitude  float32
 5   dropoff_latitude   float32
 6   passenger_count    uint8
dtypes: datetime64[ns, UTC](1), float32(5), uint8(1)
memory usage: 1.5 GB

In [13]:
display(trainm_df.head())
display(trainm_df.tail(10))

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:00+00:00,-73.844315,40.721317,-73.841614,40.712276,1
1,16.9,2010-01-05 16:52:00+00:00,-74.016045,40.711304,-73.979271,40.782005,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982735,40.761269,-73.991241,40.750561,2
3,7.7,2012-04-21 04:30:00+00:00,-73.987129,40.733143,-73.991570,40.758091,1
4,5.3,2010-03-09 07:51:00+00:00,-73.968094,40.768009,-73.956657,40.783764,1

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
55423846,11.7,2010-05-28 07:49:00+00:00,-73.947159,40.780228,-73.976807,40.758865,2
55423847,6.1,2011-09-16 00:46:00+00:00,-73.990944,40.736618,-73.992294,40.740314,3
55423848,6.0,2013-05-24 00:13:00+00:00,-73.993484,40.747372,-73.998436,40.730461,1
55423849,12.0,2014-03-04 22:25:00+00:00,-73.983017,40.745083,-73.954178,40.767338,1
55423850,4.5,2015-03-22 16:37:00+00:00,-73.981056,40.737457,-73.985474,40.729298,1
55423851,14.0,2014-03-15 03:28:00+00:00,-74.005272,40.740028,-73.963280,40.762554,1
55423852,4.2,2009-03-24 20:46:00+00:00,-73.957787,40.765530,-73.951637,40.773960,1
55423853,14.1,2011-04-02 22:04:00+00:00,-73.970505,40.752323,-73.960541,40.797340,1
55423854,28.9,2011-10-26 05:57:00+00:00,-73.980904,40.764629,-73.870605,40.773964,1
55423855,7.5,2014-12-12 11:33:00+00:00,-73.969719,40.797668,-73.970886,40.783314,1

## Feather

In [14]:
%%time
#save it into feather format ->  fast, lightweight, easy to use binary file format for storing dataframes. 

trainm_df.to_feather('nyc_taxi_data_raw.feather')

CPU times: user 2.33 s, sys: 860 ms, total: 3.19 s
Wall time: 2.52 s

In [15]:
%%time
#load the same dataframe next time directly, without reading the csv file again
df = pd.read_feather('nyc_taxi_data_raw.feather')

CPU times: user 1.3 s, sys: 4.73 s, total: 6.03 s
Wall time: 8.41 s

In [16]:
%%time
#to verify we have loaded the saved dataframe of 55 mil rows. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   fare_amount        float32
 1   pickup_datetime    datetime64[ns, UTC]
 2   pickup_longitude   float32
 3   pickup_latitude    float32
 4   dropoff_longitude  float32
 5   dropoff_latitude   float32
 6   passenger_count    uint8
dtypes: datetime64[ns, UTC](1), float32(5), uint8(1)
memory usage: 1.5 GB
CPU times: user 11.6 ms, sys: 13.7 ms, total: 25.3 ms
Wall time: 251 ms

# Data Cleaning

## Fare_amount

In [17]:
#describe for understanding the data
df.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,5.542386e+07,5.542386e+07,5.542386e+07,5.542348e+07,5.542348e+07,5.542386e+07
mean,8.077921e+00,-3.875290e+01,1.937328e+01,-3.875261e+01,1.937341e+01,1.685380e+00
std,2.055127e+01,2.556202e+01,1.414234e+01,2.553839e+01,1.412191e+01,1.327664e+00
min,-3.000000e+02,-3.442060e+03,-3.492264e+03,-3.442025e+03,-3.547887e+03,0.000000e+00
25%,6.000000e+00,-7.399207e+01,4.073493e+01,-7.399140e+01,4.073403e+01,1.000000e+00
50%,8.500000e+00,-7.398180e+01,4.075265e+01,-7.398015e+01,4.075316e+01,1.000000e+00
75%,1.250000e+01,-7.396708e+01,4.076713e+01,-7.396368e+01,4.076810e+01,2.000000e+00
max,9.396336e+04,3.457626e+03,3.408790e+03,3.457622e+03,3.537133e+03,2.080000e+02

In [18]:
#Q1. How can there be a negative number for fare_amount? - drop them. 

    # side note : %d
    # %d is a placeholder for a number (while %s is a placeholder for a string)
#how many rows originally
print('Old size: %d' %len(df))

#drop the negative fare_amount
df = df[df.fare_amount >= 0]

#how many rows after dropping negative fare_amount
print('New size: %d' %len(df))

Old size: 55423856
New size: 55421402

## Passenger_count

In [19]:
#Q2. max number of passenger is 208? - check the top 50 by passenger counts

#sort method
#df.sort_values('passenger_count').head(50)

#nlargest method - a lot faster. as it doesn't need to do sorting explicitly
df.nlargest(50, 'passenger_count')

#after 50, still all 208 passengers??

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
929022,3.300000,2009-07-30 11:54:00+00:00,0.000000,0.000000,0.000000,0.000000,208
2154045,3.300000,2010-12-16 11:21:00+00:00,0.000000,0.000000,0.000000,0.000000,208
2198549,3.300000,2010-12-15 14:20:00+00:00,0.000000,0.000000,0.000000,0.000000,208
2910347,4.500000,2010-12-16 06:44:00+00:00,0.000000,0.000000,0.000000,0.000000,208
3107489,2.700000,2009-05-12 14:50:00+00:00,-73.937820,40.758259,-73.937828,40.758251,208
4103745,23.700001,2010-12-22 12:11:00+00:00,0.000000,0.000000,0.000000,0.000000,208
4432483,11.100000,2009-05-11 13:56:00+00:00,-73.937737,40.758266,-73.937737,40.758274,208
7001143,2.700000,2009-02-26 08:29:00+00:00,-73.937874,40.758331,-73.937836,40.758369,208
9310100,3.300000,2012-03-08 10:44:00+00:00,0.000000,0.000000,0.000000,0.000000,208
11153029,39.099998,2012-04-23 07:03:00+00:00,0.000000,0.000000,0.000000,0.000000,208
11249471,3.300000,2012-12-18 14:19:00+00:00,0.000000,0.000000,0.000000,0.000000,208
11270237,3.300000,2010-11-02 11:54:00+00:00,-115.232925,36.217766,-115.232918,36.217716,208
12732267,18.700001,2014-01-07 08:49:00+00:00,0.000000,0.000000,0.000000,0.000000,208
12754647,3.300000,2010-12-14 13:47:00+00:00,0.000000,0.000000,0.000000,0.000000,208
13968321,7.100000,2010-03-23 13:22:00+00:00,-73.936943,40.758053,-73.936943,40.758053,208
20520151,3.300000,2010-12-29 12:33:00+00:00,-73.937729,40.758579,-73.937714,40.758606,208
20834767,10.100000,2010-12-22 08:31:00+00:00,0.000000,0.000000,0.000000,0.000000,208
21618877,10.300000,2011-10-03 06:58:00+00:00,0.000000,0.000000,0.000000,0.000000,208
21714169,2.700000,2009-07-06 22:53:00+00:00,-73.937767,40.758259,-73.937782,40.758331,208
23082805,4.100000,2009-03-25 13:14:00+00:00,-73.937859,40.758274,0.000000,0.000000,208
23153116,51.500000,2011-01-24 12:10:00+00:00,0.000000,0.000000,0.000000,0.000000,208
25424120,2.700000,2009-10-14 10:07:00+00:00,0.000000,0.000000,0.000000,0.000000,208
25781343,3.300000,2010-12-14 13:40:00+00:00,0.000000,0.000000,0.000000,0.000000,208
25949065,3.300000,2009-07-30 12:01:00+00:00,0.000000,0.000000,0.000000,0.000000,208
28666731,3.300000,2010-12-14 12:55:00+00:00,0.000000,0.000000,0.000000,0.000000,208
29039055,7.100000,2009-05-04 23:08:00+00:00,-73.937752,40.758377,-73.937828,40.758266,208
29716980,2.700000,2009-05-12 14:59:00+00:00,-73.937782,40.758324,-73.937752,40.758339,208
30513469,2.900000,2009-03-17 14:22:00+00:00,-73.937737,40.758335,-73.937721,40.758385,208
31431436,34.099998,2011-01-24 14:00:00+00:00,0.000000,0.000000,0.000000,0.000000,208
31718521,3.300000,2010-10-21 09:17:00+00:00,0.000000,0.000000,0.000000,0.000000,208
31795111,3.300000,2010-11-02 14:44:00+00:00,-115.233147,36.217442,-115.233147,36.217442,208
31898309,18.500000,2009-05-15 05:52:00+00:00,-73.937752,40.758316,-73.937790,40.758293,208
33344676,3.900000,2010-12-14 11:46:00+00:00,0.000000,0.000000,0.000000,0.000000,208
34284545,93.900002,2010-12-22 13:09:00+00:00,0.000000,0.000000,0.000000,0.000000,208
34726791,3.300000,2010-12-15 12:03:00+00:00,-115.235985,36.220055,-115.235985,36.220055,208
34866167,2.700000,2009-10-29 08:05:00+00:00,0.000000,0.000000,0.000000,0.000000,208
35329128,2.700000,2009-03-11 10:00:00+00:00,0.000000,0.000000,-73.937866,40.758331,208
35453398,3.300000,2011-01-18 10:40:00+00:00,0.000000,0.000000,0.000000,0.000000,208
35893772,11.700000,2010-12-28 08:20:00+00:00,-73.937798,40.758499,-73.937836,40.758415,208
37994994,3.900000,2014-01-27 08:17:00+00:00,0.000000,0.000000,0.000000,0.000000,208
38244208,3.300000,2010-12-15 12:35:00+00:00,0.000000,0.000000,0.000000,0.000000,208
38464977,3.300000,2010-12-15 13:47:00+00:00,0.000000,0.000000,0.000000,0.000000,208
40290750,75.699997,2011-04-08 06:50:00+00:00,0.000000,0.000000,0.000000,0.000000,208
41024008,3.300000,2011-01-18 10:32:00+00:00,0.000000,0.000000,0.000000,0.000000,208
41712689,2.700000,2009-03-11 10:00:00+00:00,0.000000,0.000000,-73.937866,40.758331,208
41815630,3.300000,2010-11-15 13:00:00+00:00,0.000000,0.000000,0.000000,0.000000,208
43111680,2.700000,2009-03-11 09:32:00+00:00,-73.937775,40.758381,-73.937790,40.758381,208
43458422,2.900000,2009-06-23 23:05:00+00:00,-73.937912,40.758335,-73.937943,40.758350,208
43603242,2.900000,2009-05-26 14:58:00+00:00,-73.937820,40.758305,-73.937843,40.758308,208
44288494,2.500000,2014-02-12 09:28:00+00:00,0.000000,0.000000,0.000000,0.000000,208

In [20]:
#how many are above 10 people passenger? 
df[df.passenger_count > 10 ]

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
929022,3.3,2009-07-30 11:54:00+00:00,0.000000,0.000000,0.000000,0.000000,208
2154045,3.3,2010-12-16 11:21:00+00:00,0.000000,0.000000,0.000000,0.000000,208
2198549,3.3,2010-12-15 14:20:00+00:00,0.000000,0.000000,0.000000,0.000000,208
2910347,4.5,2010-12-16 06:44:00+00:00,0.000000,0.000000,0.000000,0.000000,208
3107489,2.7,2009-05-12 14:50:00+00:00,-73.937820,40.758259,-73.937828,40.758251,208
...,...,...,...,...,...,...,...
51175550,2.7,2009-05-12 13:18:00+00:00,-73.937881,40.758228,-73.937889,40.758194,208
51978691,3.3,2010-12-14 13:15:00+00:00,0.000000,0.000000,0.000000,0.000000,208
52003599,2.7,2009-03-23 21:52:00+00:00,-73.937866,40.758404,-73.937866,40.758396,208
53368487,2.9,2009-04-14 12:53:00+00:00,-73.937927,40.758263,-73.937904,40.758263,208
53979230,3.1,2009-05-11 12:34:00+00:00,-73.937744,40.758266,-73.937714,40.758263,208

In [21]:
#There are 69 rows that are above 10 passenger. Let's get rid of them 
#before
print('Old size: %d' %len(df))

#exclude the passengers more than 10
df = df[df.passenger_count < 11]

#after
print('New size: %d' %len(df))

Old size: 55421402
New size: 55421333

## Null

In [22]:
#Q3. Any null? 
df.isnull().sum()

fare_amount            0
pickup_datetime        0
pickup_longitude       0
pickup_latitude        0
dropoff_longitude    376
dropoff_latitude     376
passenger_count        0
dtype: int64

In [23]:
#drop all NAs. 

#before 
print('Old size: %d' %len(df))

#drop NAs
df = df.dropna(how = 'any', axis = 'rows')

#after
print('New size: %d' %len(df))

Old size: 55421333
New size: 55420957

## Geo coordinates

In [28]:
#Q4. do all the coordinates make sense? 
#longitude range: -90 to 90 / longitude range: -180 to 180
#see if any coordinate out of this
print(len(df[(df.pickup_longitude >180) | (df.pickup_longitude < -180)]))
print(len(df[(df.dropoff_longitude >180) | (df.dropoff_longitude < -180)]))
print(len(df[(df.pickup_latitude >90) | (df.pickup_latitude < -90)]))
print(len(df[(df.dropoff_latitude >90) | (df.dropoff_latitude < -90)]))

0
0
0
0

In [25]:
#get rid of the ones from above
#before
print('Old size: %d' %len(df))

#get rid of ones outside of range
df = df[(df.pickup_longitude <= 180) & (df.pickup_longitude >= -180)&(df.dropoff_longitude <= 180) & (df.dropoff_longitude >= -180)&(df.pickup_latitude <= 90) & (df.pickup_latitude >= -90)&(df.dropoff_latitude <= 90) & (df.dropoff_latitude >= -90)] 

#after
print('New size: %d' %len(df))

Old size: 55420957
New size: 55418213

In [ ]:
#after... to check.
print(len(df[(df.pickup_longitude >180) | (df.pickup_longitude < -180)]))
print(len(df[(df.dropoff_longitude >180) | (df.dropoff_longitude < -180)]))
print(len(df[(df.pickup_latitude >90) | (df.pickup_latitude < -90)]))
print(len(df[(df.dropoff_latitude >90) | (df.dropoff_latitude < -90)]))

In [26]:
#minimum
print('Minimum Pickup Longtitude is: %s' %df.pickup_longitude.min())
print('Minimum Dropoff Longtitude is: %s' %df.dropoff_longitude.min())
print('Minimum Pickup Latitude is: %s' %df.pickup_latitude.min())
print('Minimum Dropoff Latitude is: %s' %df.dropoff_latitude.min())

#maximum
print('Maximum Pickup Longtitude is: %s' %df.pickup_longitude.max())
print('Maximum Dropoff Longtitude is: %s' %df.dropoff_longitude.max())
print('Maximum Pickup Latitude is: %s' %df.pickup_latitude.max())
print('Maximum Dropoff Latitude is: %s' %df.dropoff_latitude.max())

Minimum Pickup Longtitude is: -171.79734802246094
Minimum Dropoff Longtitude is: -173.95762634277344
Minimum Pickup Latitude is: -77.83387756347656
Minimum Dropoff Latitude is: -74.3546142578125
Maximum Pickup Longtitude is: 169.97276306152344
Maximum Dropoff Longtitude is: 169.97276306152344
Maximum Pickup Latitude is: 89.7421646118164
Maximum Dropoff Latitude is: 89.81666564941406

In [29]:
#NYC gps coordinate is: Lat: 40.741895 and Long: -73.989308 so something is off about above numbers
df[df.pickup_longitude <-78]

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
98652,10.50,2011-05-03 07:45:00+00:00,-78.083328,40.705727,-74.005318,40.728592,1
210060,3.15,2010-07-07 15:15:00+00:00,-121.391212,38.504444,-121.391251,38.504429,3
367368,4.10,2010-10-19 00:39:00+00:00,-78.650909,41.037525,-78.659447,40.971840,1
411093,4.50,2012-08-06 11:25:00+00:00,-80.616669,40.780685,-73.970535,40.789158,2
429196,13.00,2013-03-13 18:14:00+00:00,-78.669426,43.213963,-78.669426,43.213963,1
...,...,...,...,...,...,...,...
55203539,7.30,2012-06-29 10:50:00+00:00,-92.199997,40.773121,-73.959877,40.763699,1
55260154,13.30,2011-12-04 16:48:00+00:00,-87.996002,47.958843,-73.953056,40.788559,1
55363580,8.10,2012-07-09 22:04:00+00:00,-92.233330,40.768604,-73.954948,40.779205,2
55379147,14.50,2013-07-21 18:08:00+00:00,-82.384224,38.148434,-73.954887,40.769314,1
55404571,3.50,2013-04-14 14:09:00+00:00,-79.710701,42.197189,-79.710701,42.197189,1