# Import

## packages

In [38]:
#import basic packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import for time 
import dask.dataframe as dd
import os
from tqdm import tqdm
import time

#import pyarrow -> needed for feather
import pyarrow

## straight importing files (but see below for dealing with huge CSV file

In [11]:
%%time

#import dataset - but it is a big file. see below for this case. 
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

CPU times: user 1min 49s, sys: 2min 11s, total: 4min 1s
Wall time: 6min 48s

# Case of Huge CSV File

## readlines

In [10]:
%%time

# %%time will print out the CPU time and wall time 
print('hello')

hello
CPU times: user 177 µs, sys: 82 µs, total: 259 µs
Wall time: 222 µs

In [2]:
#path for train dataset
train_path = '../NYCTaxi/train.csv'

In [12]:
%%time 

#want to know the exact number of rows from the large file -> this way is a lot shorter to find how big the data is. 

#method 1 : use file.readlines 
with open(train_path) as file:
    n_rows = len(file.readlines())

print(f'Exact number of rows: {n_rows}')

Exact number of rows: 55423857
CPU times: user 20.1 s, sys: 27.8 s, total: 47.9 s
Wall time: 1min 31s

In [13]:
%%time 

#take a look at the train dataset
test_temp = pd.read_csv(train_path, nrows= 10)
test_temp.head()

CPU times: user 8.9 ms, sys: 26.1 ms, total: 35 ms
Wall time: 68.2 ms

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [7]:
#info on temp table -> to see column datatype
test_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                10 non-null     object
 1   fare_amount        10 non-null     float64
 2   pickup_datetime    10 non-null     object
 3   pickup_longitude   10 non-null     float64
 4   pickup_latitude    10 non-null     float64
 5   dropoff_longitude  10 non-null     float64
 6   dropoff_latitude   10 non-null     float64
 7   passenger_count    10 non-null     int64
dtypes: float64(5), int64(1), object(2)
memory usage: 768.0+ bytes

## Using Chunksize and load chunks to list

In [19]:
#change the column type to optimize for memory usage
traintypes = {
                    'fare_amount': 'float32',
                    'pickup_datetime': 'str',
                    'pickup_longitude': 'float32',
                    'pickup_latitude': 'float32',
                    'dropoff_longitude': 'float32',
                    'dropoff_latitude': 'float32',
                    'passenger_count': 'uint8'
}

#to get the column names, we can use .keys() and save it as cols. 
cols = list(traintypes.keys())

In [15]:
#make a chunk size to run 5mil rows at each chunk
chunksize = 5_000_000 
#here, _ is used as a visual separator.

In [20]:
%%time
#make an empty list to start with
df_list = []

#for loop using chunksize above. 
for df_chunk in tqdm(pd.read_csv(train_path, usecols = cols, dtype=traintypes, chunksize = chunksize)):
    df_chunk['pickup_datetime'] = df_chunk['pickup_datetime'].str.slice(0,16)
    df_chunk['pickup_datetime'] = pd.to_datetime(df_chunk['pickup_datetime'], utc = True, format = '%Y-%m-%d %H:%M')
    
    #append the chunk to list and merge all
    df_list.append(df_chunk)
    
#12 iterations.

12it [01:49,  9.17s/it]

CPU times: user 1min 35s, sys: 9.68 s, total: 1min 45s
Wall time: 1min 50s

In [21]:
#end result of df_list. -> each iteration results 5M chunk. 
df_list

[         fare_amount           pickup_datetime  pickup_longitude  \
 0                4.5 2009-06-15 17:26:00+00:00        -73.844315
 1               16.9 2010-01-05 16:52:00+00:00        -74.016045
 2                5.7 2011-08-18 00:35:00+00:00        -73.982735
 3                7.7 2012-04-21 04:30:00+00:00        -73.987129
 4                5.3 2010-03-09 07:51:00+00:00        -73.968094
 ...              ...                       ...               ...
 4999995         16.5 2011-01-24 21:33:00+00:00        -74.003883
 4999996          9.0 2013-10-11 12:12:00+00:00        -73.995102
 4999997         10.5 2014-12-06 23:04:00+00:00        -73.981064
 4999998         10.0 2015-05-30 19:01:00+00:00        -73.965401
 4999999          4.9 2012-07-11 08:12:00+00:00        -73.972595

          pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
 0              40.721317         -73.841614         40.712276                1
 1              40.711304         -73.979271         40.782005                1
 2              40.761269         -73.991241         40.750561                2
 3              40.733143         -73.991570         40.758091                1
 4              40.768009         -73.956657         40.783764                1
 ...                  ...                ...               ...              ...
 4999995        40.725773         -73.969391         40.800831                1
 4999996        40.739899         -73.985214         40.731949                2
 4999997        40.764126         -73.979256         40.781857                2
 4999998        40.759140         -73.971886         40.750870                1
 4999999        40.743176         -73.965820         40.754414                6

 [5000000 rows x 7 columns],
          fare_amount           pickup_datetime  pickup_longitude  \
 5000000         8.10 2010-10-05 21:38:00+00:00        -73.989189
 5000001         6.10 2012-07-08 01:37:00+00:00        -73.986931
 5000002        98.75 2012-12-09 18:03:00+00:00          0.000000
 5000003         7.00 2013-09-27 08:39:00+00:00        -73.982048
 5000004         6.50 2010-12-25 00:45:00+00:00        -73.921860
 ...              ...                       ...               ...
 9999995         5.70 2012-08-12 01:18:00+00:00        -73.999466
 9999996         5.50 2013-08-07 10:28:00+00:00        -73.968468
 9999997        14.00 2013-10-29 08:29:00+00:00        -73.997955
 9999998        10.50 2012-04-07 16:41:00+00:00        -73.992699
 9999999         8.50 2010-03-30 19:27:00+00:00        -73.965393

          pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
 5000000        40.756859         -74.010300         40.734489                1
 5000001        40.729698         -73.980270         40.744411                2
 5000002         0.000000           0.000000          0.000000                5
 5000003        40.774399         -73.970413         40.783875                1
 5000004        40.743343         -73.898193         40.743279                1
 ...                  ...                ...               ...              ...
 9999995        40.728451         -73.993301         40.742100                2
 9999996        40.759369         -73.964966         40.769028                1
 9999997        40.733719         -73.973450         40.759121                5
 9999998        40.752022         -73.964706         40.772850                1
 9999999        40.768574         -73.998184         40.761074                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 10000000    35.470001 2010-08-10 20:02:00+00:00        -73.967354
 10000001     6.100000 2011-03-13 13:24:00+00:00        -73.968842
 10000002     9.700000 2011-06-11 19:45:00+00:00        -73.982178
 10000003     7.700000 2011-12-03 13:16:00+00:00        -73.977798
 10000004    57.330002 2013-03-29 14:35:00+00:00        -74.003029
 ...               ...                       ...               ...
 14999995    14.500000 2013-09-20 11:33:00+00:00        -73.992599
 14999996     5.300000 2009-01-31 19:58:00+00:00        -73.984558
 14999997     5.700000 2011-10-19 22:15:00+00:00        -73.970749
 14999998     6.100000 2012-03-03 23:27:00+00:00        -73.989136
 14999999     5.300000 2012-05-10 20:24:00+00:00        -73.979523

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 10000000        40.769295         -73.967285         40.802975
 10000001        40.758278         -73.961395         40.768566
 10000002        40.774796         -73.954308         40.783150
 10000003        40.742279         -73.998634         40.734917
 10000004        40.747368         -73.789368         40.654743
 ...                   ...                ...               ...
 14999995        40.665775         -74.019928         40.617622
 14999996        40.769924         -73.989555         40.757359
 14999997        40.765820         -73.967064         40.757034
 14999998        40.726936         -73.987465         40.720299
 14999999        40.757465         -73.990005         40.750797

           passenger_count
 10000000                1
 10000001                1
 10000002                1
 10000003                1
 10000004                2
 ...                   ...
 14999995                1
 14999996                5
 14999997                1
 14999998                0
 14999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 15000000         12.9 2011-05-20 08:10:00+00:00        -73.953865
 15000001          4.5 2014-03-29 19:38:00+00:00        -73.988632
 15000002         25.0 2014-10-14 08:32:00+00:00        -73.954475
 15000003         65.0 2009-06-01 11:56:00+00:00        -74.181618
 15000004          5.7 2011-03-01 15:41:00+00:00        -73.984184
 ...               ...                       ...               ...
 19999995          9.5 2013-10-16 17:49:00+00:00        -73.977707
 19999996          3.5 2014-08-08 00:16:00+00:00        -73.963242
 19999997          4.9 2009-10-10 22:14:00+00:00        -73.970947
 19999998          5.5 2014-12-10 12:26:00+00:00        -73.968079
 19999999         10.9 2010-08-13 14:15:00+00:00        -74.001991

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 15000000        40.787933         -73.987167         40.754520
 15000001        40.725761         -73.978355         40.721458
 15000002        40.764206         -73.990395         40.751320
 15000003        40.687675         -74.181618         40.687675
 15000004        40.755116         -73.971184         40.764153
 ...                   ...                ...               ...
 19999995        40.776920         -73.966866         40.772446
 19999996        40.766754         -73.965500         40.763580
 19999997        40.794277         -73.961380         40.801376
 19999998        40.799801         -73.961060         40.811672
 19999999        40.734951         -74.003754         40.722210

           passenger_count
 15000000                2
 15000001                1
 15000002                1
 15000003                1
 15000004                3
 ...                   ...
 19999995                5
 19999996                1
 19999997                1
 19999998                6
 19999999                5

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 20000000     3.700000 2011-01-18 06:58:00+00:00          0.000000
 20000001     4.100000 2012-06-25 04:11:00+00:00        -73.994217
 20000002     7.500000 2013-01-02 16:12:00+00:00        -73.991280
 20000003    12.000000 2013-08-06 05:30:00+00:00        -73.924355
 20000004    43.330002 2014-06-15 15:54:00+00:00        -73.982285
 ...               ...                       ...               ...
 24999995    12.000000 2013-01-21 12:24:00+00:00        -73.992508
 24999996     6.500000 2013-07-09 08:07:00+00:00        -73.977242
 24999997     5.000000 2014-08-14 17:04:00+00:00        -73.969261
 24999998     5.000000 2015-06-08 19:09:00+00:00        -73.984901
 24999999     6.100000 2011-11-14 18:36:00+00:00        -73.984917

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 20000000         0.000000           0.000000          0.000000
 20000001        40.740971         -73.999069         40.738316
 20000002        40.749786         -73.979362         40.758488
 20000003        40.769657         -73.870979         40.774082
 20000004        40.762653         -73.861870         40.768368
 ...                   ...                ...               ...
 24999995        40.758549         -73.960915         40.774776
 24999996        40.753796         -73.983261         40.761284
 24999997        40.761765         -73.974182         40.753822
 24999998        40.768459         -73.984756         40.759480
 24999999        40.758919         -73.994621         40.752071

           passenger_count
 20000000                1
 20000001                1
 20000002                2
 20000003                5
 20000004                1
 ...                   ...
 24999995                1
 24999996                2
 24999997                2
 24999998                6
 24999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 25000000    10.500000 2012-09-06 08:06:00+00:00        -73.960770
 25000001     8.000000 2012-10-12 03:17:00+00:00        -73.955582
 25000002     7.900000 2009-03-30 19:59:00+00:00        -73.985329
 25000003    29.700001 2009-04-13 16:40:00+00:00        -73.863045
 25000004     8.500000 2012-03-27 08:54:00+00:00        -73.977509
 ...               ...                       ...               ...
 29999995     8.500000 2010-12-31 16:08:00+00:00        -74.004951
 29999996    10.100000 2011-02-15 15:53:00+00:00        -73.970924
 29999997    12.900000 2011-12-17 20:28:00+00:00        -73.956802
 29999998     7.500000 2013-03-26 09:07:00+00:00        -74.006615
 29999999    12.900000 2011-11-22 18:10:00+00:00        -73.981949

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 25000000        40.757313         -73.978600         40.756954
 25000001        40.714153         -73.959358         40.691071
 25000002        40.747223         -74.003685         40.731991
 25000003        40.767700         -73.975006         40.758076
 25000004        40.762772         -73.952423         40.789719
 ...                   ...                ...               ...
 29999995        40.721478         -73.989944         40.737083
 29999996        40.755653         -73.969017         40.785786
 29999997        40.766846         -73.983421         40.721466
 29999998        40.705307         -74.009125         40.713299
 29999999        40.737347         -73.990448         40.748680

           passenger_count
 25000000                1
 25000001                1
 25000002                1
 25000003                1
 25000004                2
 ...                   ...
 29999995                3
 29999996                1
 29999997                2
 29999998                1
 29999999                2

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 30000000          4.9 2011-12-02 11:37:00+00:00        -73.977356
 30000001          8.9 2012-02-02 22:30:00+00:00        -73.988701
 30000002          4.0 2014-09-20 07:19:00+00:00        -73.990211
 30000003          5.5 2013-02-23 07:18:00+00:00        -74.016754
 30000004         13.5 2015-04-18 23:49:00+00:00        -74.002708
 ...               ...                       ...               ...
 34999995          8.9 2010-06-12 12:07:00+00:00        -73.969261
 34999996          6.9 2011-02-24 16:06:00+00:00        -73.966545
 34999997          9.7 2009-09-22 19:20:00+00:00        -73.980057
 34999998         14.1 2012-04-19 02:17:00+00:00        -73.998505
 34999999          3.3 2012-06-08 11:09:00+00:00        -73.953629

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 30000000        40.766270         -73.982994         40.759323
 30000001        40.758804         -73.986519         40.737206
 30000002        40.746704         -73.994728         40.750511
 30000003        40.709438         -74.009003         40.719498
 30000004        40.733730         -73.986099         40.734776
 ...                   ...                ...               ...
 34999995        40.757771         -73.988998         40.741447
 34999996        40.804974         -73.949043         40.804226
 34999997        40.752537         -74.006439         40.739613
 34999998        40.745304         -73.953186         40.799362
 34999999        40.778797         -73.946068         40.775551

           passenger_count
 30000000                5
 30000001                1
 30000002                1
 30000003                3
 30000004                1
 ...                   ...
 34999995                2
 34999996                2
 34999997                1
 34999998                2
 34999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 35000000          6.5 2009-06-21 11:07:00+00:00        -73.981575
 35000001          8.9 2011-04-04 20:34:00+00:00        -73.984138
 35000002         17.0 2013-09-10 20:31:00+00:00        -73.964355
 35000003          3.3 2009-11-22 20:25:00+00:00        -73.994156
 35000004          4.1 2009-12-04 21:50:00+00:00        -73.997826
 ...               ...                       ...               ...
 39999995         14.1 2011-04-06 11:57:00+00:00        -73.958206
 39999996         45.0 2009-06-02 11:52:00+00:00        -73.988739
 39999997          7.3 2011-03-11 17:37:00+00:00        -73.972519
 39999998         10.5 2012-06-05 11:35:00+00:00        -73.976143
 39999999          7.5 2013-08-29 08:41:00+00:00        -73.965523

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 35000000        40.772575         -73.963333         40.762131
 35000001        40.756718         -73.987007         40.731457
 35000002        40.756443         -73.915298         40.759506
 35000003        40.726803         -73.990692         40.733891
 35000004        40.753189         -73.994682         40.760765
 ...                   ...                ...               ...
 39999995        40.760338         -73.992722         40.744537
 39999996        40.758823         -73.794464         40.644505
 39999997        40.758801         -73.986641         40.739693
 39999998        40.788303         -73.956673         40.764999
 39999999        40.790512         -73.983086         40.776867

           passenger_count
 35000000                1
 35000001                1
 35000002                1
 35000003                1
 35000004                1
 ...                   ...
 39999995                1
 39999996                4
 39999997                1
 39999998                1
 39999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 40000000          8.9 2011-05-25 14:04:00+00:00        -73.976700
 40000001          4.5 2009-07-03 00:41:00+00:00        -73.920723
 40000002          5.0 2013-01-24 22:43:00+00:00        -73.976250
 40000003          9.5 2013-11-05 17:08:00+00:00        -73.970154
 40000004          7.0 2014-10-15 12:57:00+00:00        -73.985001
 ...               ...                       ...               ...
 44999995          3.3 2011-03-23 10:15:00+00:00        -73.981888
 44999996         10.5 2013-10-26 10:54:00+00:00        -73.992630
 44999997         16.5 2010-05-05 21:15:00+00:00        -74.000465
 44999998         14.5 2012-08-30 09:26:00+00:00        -73.946915
 44999999          5.0 2013-09-09 16:46:00+00:00        -73.982239

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 40000000        40.751331         -73.991577         40.750008
 40000001        40.756809         -73.911499         40.766827
 40000002        40.751820         -73.984665         40.738583
 40000003        40.764931         -73.967758         40.787544
 40000004        40.742069         -73.997467         40.733620
 ...                   ...                ...               ...
 44999995        40.743355         -73.985596         40.741268
 44999996        40.743160         -73.982147         40.768726
 44999997        40.677616         -73.936234         40.710739
 44999998        40.776505         -73.984268         40.754929
 44999999        40.751629         -73.987488         40.739819

           passenger_count
 40000000                1
 40000001                5
 40000002                1
 40000003                1
 40000004                1
 ...                   ...
 44999995                1
 44999996                4
 44999997                1
 44999998                1
 44999999                1

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 45000000     4.900000 2010-04-19 07:48:00+00:00          0.000000
 45000001    18.900000 2010-11-01 03:02:00+00:00        -73.971657
 45000002    49.799999 2012-03-21 06:37:00+00:00        -73.952255
 45000003     3.700000 2009-12-05 17:04:00+00:00        -73.961113
 45000004     5.700000 2011-07-26 16:40:00+00:00        -73.976921
 ...               ...                       ...               ...
 49999995    12.500000 2014-09-21 17:08:00+00:00        -74.004776
 49999996    13.300000 2012-01-06 17:27:00+00:00        -73.976501
 49999997     5.500000 2012-09-09 00:09:00+00:00        -74.003204
 49999998     6.100000 2012-05-12 05:09:00+00:00        -73.989098
 49999999     6.500000 2011-03-02 08:19:00+00:00        -73.963600

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 45000000         0.000000           0.000000          0.000000
 45000001        40.751118         -73.979408         40.678314
 45000002        40.741432         -73.992516         40.713898
 45000003        40.760563         -73.955139         40.768936
 45000004        40.750008         -73.989594         40.741459
 ...                   ...                ...               ...
 49999995        40.747017         -74.002922         40.760445
 49999996        40.780571         -74.000816         40.734608
 49999997        40.749134         -73.990128         40.746651
 49999998        40.769360         -73.991821         40.751507
 49999999        40.771267         -73.954071         40.766380

           passenger_count
 45000000                1
 45000001                1
 45000002                1
 45000003                1
 45000004                1
 ...                   ...
 49999995                1
 49999996                2
 49999997                2
 49999998                1
 49999999                2

 [5000000 rows x 7 columns],
           fare_amount           pickup_datetime  pickup_longitude  \
 50000000          9.0 2013-06-08 00:36:00+00:00        -73.971130
 50000001         14.6 2009-04-12 03:26:00+00:00        -74.005165
 50000002         16.9 2010-01-28 16:54:00+00:00        -74.006767
 50000003          5.7 2010-08-15 20:52:00+00:00        -73.987213
 50000004          4.9 2010-02-06 10:58:00+00:00        -73.981644
 ...               ...                       ...               ...
 54999995         11.7 2012-05-31 00:58:00+00:00        -73.992348
 54999996         12.5 2013-08-25 03:23:00+00:00        -73.991943
 54999997          6.5 2013-12-03 20:31:00+00:00        -73.961143
 54999998          7.5 2015-02-14 15:11:00+00:00        -73.996964
 54999999          6.5 2015-04-16 18:42:00+00:00        -74.001862

           pickup_latitude  dropoff_longitude  dropoff_latitude  \
 50000000        40.758652         -73.991982         40.743263

In [23]:
#merge all dataframe lists into one dataframe
trainm_df = pd.concat(df_list)

#delete the dataframe list to release memory
del df_list

#check trainm_df
trainm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   fare_amount        float32
 1   pickup_datetime    datetime64[ns, UTC]
 2   pickup_longitude   float32
 3   pickup_latitude    float32
 4   dropoff_longitude  float32
 5   dropoff_latitude   float32
 6   passenger_count    uint8
dtypes: datetime64[ns, UTC](1), float32(5), uint8(1)
memory usage: 1.5 GB

In [29]:
display(trainm_df.head())
display(trainm_df.tail(10))

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:00+00:00,-73.844315,40.721317,-73.841614,40.712276,1
1,16.9,2010-01-05 16:52:00+00:00,-74.016045,40.711304,-73.979271,40.782005,1
2,5.7,2011-08-18 00:35:00+00:00,-73.982735,40.761269,-73.991241,40.750561,2
3,7.7,2012-04-21 04:30:00+00:00,-73.987129,40.733143,-73.991570,40.758091,1
4,5.3,2010-03-09 07:51:00+00:00,-73.968094,40.768009,-73.956657,40.783764,1

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
55423846,11.7,2010-05-28 07:49:00+00:00,-73.947159,40.780228,-73.976807,40.758865,2
55423847,6.1,2011-09-16 00:46:00+00:00,-73.990944,40.736618,-73.992294,40.740314,3
55423848,6.0,2013-05-24 00:13:00+00:00,-73.993484,40.747372,-73.998436,40.730461,1
55423849,12.0,2014-03-04 22:25:00+00:00,-73.983017,40.745083,-73.954178,40.767338,1
55423850,4.5,2015-03-22 16:37:00+00:00,-73.981056,40.737457,-73.985474,40.729298,1
55423851,14.0,2014-03-15 03:28:00+00:00,-74.005272,40.740028,-73.963280,40.762554,1
55423852,4.2,2009-03-24 20:46:00+00:00,-73.957787,40.765530,-73.951637,40.773960,1
55423853,14.1,2011-04-02 22:04:00+00:00,-73.970505,40.752323,-73.960541,40.797340,1
55423854,28.9,2011-10-26 05:57:00+00:00,-73.980904,40.764629,-73.870605,40.773964,1
55423855,7.5,2014-12-12 11:33:00+00:00,-73.969719,40.797668,-73.970886,40.783314,1

## Feather

In [33]:
%%time
#save it into feather format ->  fast, lightweight, easy to use binary file format for storing dataframes. 

trainm_df.to_feather('nyc_taxi_data_raw.feather')

CPU times: user 2.51 s, sys: 2.46 s, total: 4.97 s
Wall time: 6.28 s

In [34]:
%%time
#load the same dataframe next time directly, without reading the csv file again
train_df_new = pd.read_feather('nyc_taxi_data_raw.feather')

CPU times: user 1.26 s, sys: 3.09 s, total: 4.35 s
Wall time: 5.67 s

In [36]:
%%time
#to verify we have loaded the saved dataframe of 55 mil rows. 
train_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   fare_amount        float32
 1   pickup_datetime    datetime64[ns, UTC]
 2   pickup_longitude   float32
 3   pickup_latitude    float32
 4   dropoff_longitude  float32
 5   dropoff_latitude   float32
 6   passenger_count    uint8
dtypes: datetime64[ns, UTC](1), float32(5), uint8(1)
memory usage: 1.5 GB
CPU times: user 3.14 ms, sys: 867 µs, total: 4 ms
Wall time: 5.41 ms

# EDA