<h1> Import </h1>

In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import for time 
import dask.dataframe as dd
import os
from tqdm import tqdm
import time

In [11]:
%%time

#import dataset - but it is a big file. see below for this case. 
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

CPU times: user 1min 49s, sys: 2min 11s, total: 4min 1s
Wall time: 6min 48s

<h1> Case of Huge CSV File </h1>

In [10]:
%%time

# %%time will print out the CPU time and wall time 
print('hello')

hello
CPU times: user 177 µs, sys: 82 µs, total: 259 µs
Wall time: 222 µs

In [2]:
#path for train dataset
train_path = '../NYCTaxi/train.csv'

In [12]:
%%time 

#want to know the exact number of rows from the large file -> this way is a lot shorter to find how big the data is. 

#method 1 : use file.readlines 
with open(train_path) as file:
    n_rows = len(file.readlines())

print(f'Exact number of rows: {n_rows}')

Exact number of rows: 55423857
CPU times: user 20.1 s, sys: 27.8 s, total: 47.9 s
Wall time: 1min 31s

In [13]:
%%time 

#take a look at the train dataset
test_temp = pd.read_csv(train_path, nrows= 10)
test_temp.head()

CPU times: user 8.9 ms, sys: 26.1 ms, total: 35 ms
Wall time: 68.2 ms

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [7]:
#info on temp table -> to see column datatype
test_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                10 non-null     object
 1   fare_amount        10 non-null     float64
 2   pickup_datetime    10 non-null     object
 3   pickup_longitude   10 non-null     float64
 4   pickup_latitude    10 non-null     float64
 5   dropoff_longitude  10 non-null     float64
 6   dropoff_latitude   10 non-null     float64
 7   passenger_count    10 non-null     int64
dtypes: float64(5), int64(1), object(2)
memory usage: 768.0+ bytes

In [ ]:
#change the column type to optimize for memory usage
traintypes = {
                    'fare_amount': 'float32',
                    'pickup_datetime': 'str',
                    'pickup_longitude': 'float32',
                    'pickup_latitude': 'float32',
                    'dropoff_longitude': 'float32',
                    'dropoff_latitude': 'float32',
                    'passenger_count': 'unit8'
}

cols = list(traintypes.keys())